body, html {
    height: 100%;
    margin: 0;
  }
  

  .account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; 
    padding: 20px;
  }
  

  .account-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }

  .logout-button {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #165aab;
  }
  

  .account-card p {
    font-size: 18px;
    color: #333;
  }
  
  .account-card h2 {
    font-size: 24px;
    color: #1877f2; 
    margin-bottom: 20px;
  }
  