#fondo {  
  background-color: #2E2E42; /* No Borrar*/
  width: 100%;
}
.css-13p3xcz-MuiContainer-root {/* No Borrar*/
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #2E2E42;
  margin-top: 0% !important;
  align-items: top !important;
  height: 100% !important;
}

@media (min-width: 1200px) {/* No Borrar*/
  .css-13p3xcz-MuiContainer-root {
      max-width: 100% !important;
      max-height: 100% !important;
      background-color: #2E2E42;
      margin-top: 0% !important;
      height: 100% !important;
      position: 0 !important;

  }                                      
}                                         

.MuiCardContent-root{
  min-width: 250px !important; 
}

.bar-list-content {
  max-width: fit-content;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  align-items:flex-start;
  overflow-y: auto;
  width: 100%;     
  max-height: 100vh; 
  
}

.bar-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  min-width: 300px;
}

.bar-card img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 5px;
}

.card-content {
  flex-grow: 1;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-rating {
  font-size: 0.9rem;
  color: #888;
}

.bar-list {
  display: flex;
  max-height: fit-content;
  flex-wrap: wrap;
  gap: 16px;
}
