 
#bottom-navigation {
  background-color: #A6A7B5; 
}

#bottom-navigation .MuiBottomNavigationAction-root {
  color: #1D1B20;
}

#bottom-navigation-action.selected {
  color: #ffeb3b; /* Color for selected item */
  background-color: #333; /* Background color for selected item (optional) */
  border-radius: 4px; /* Optional rounded corners for selected item */
}


@media (max-width: 1200px) {
  .footer {
    font-size: 0.9rem;
    padding: 18px 8px;
  }
}

@media (max-width: 992px) {
  .footer {
    font-size: 0.8rem;
    padding: 16px 6px;
  }
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
    padding: 14px 4px;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 0.6rem;
    padding: 12px 2px;
  }
}
