.css-13p3xcz-MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #2E2E42;
  margin-top: 0% !important;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
  margin: 0; 
}
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  
  .read-the-docs {
    color: #888;
  }
